.row{
    align-content: center;
    margin: 20px;
}

input,p,label{
    margin: 5px;
    width: 65%;
    height: 100%;
}
.incomplete-task{
    width: 10px;
    height:25px;
}

li,ul{
    list-style: none;
    text-align:left;
   

}
h1,h2,h3{
    margin: 15px;
}
.card{
    width:500px;
    border-radius: 5px;
    border-style: solid;
    border-color: antiquewhite;
}
#add-btn{
    width: 65%;
    margin:5px;
    height:100%

}

#btn-delete{
    margin-left: 100px;
    margin-top: 0px;
    margin: 5px;
}